{% extends 'portfolio/base.html' %}

{% block content %}

	<p>Hi ! I am a <b>B.Tech Computer Science</b> undergradute, currently persuing my <b>3rd year.</b> <br><br>
	I am familiar with HTML, CSS, JavaScript, Jquery, Python, and a Python framework called Django, and I have a keen
	interest in learning and exploring new things over the internet.<br><br>

	<b><i>When you learn, teach. When you get, give.</i></b><br><br>

	I am one of those women who likes to chat and share knowledge and pass it around as I strongly believe that
	knowledge is most useful when liberated and shared, and the true measure of education is not what you know, but
	how you share what you know with others :) <br><br>

	So, as I learn and build new (big or small) things, I share my experiences and the code, the process of doing it the right way (i.e the way I achieved it) and the challenges I faced, how I overcomed them, and lots of other cool stuff all over HERE! :D <br><br>

	So get your hands dirty, comeon, and turn some coffee into code with me ;)

	</p>

{% endblock %}