<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Yoshita Arora</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
</head>

<body>
	<div class="page-header">
		{% if user.authenticated %}
		<a href="{% url 'project_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="{% url 'project_list' %}">My Projects</a></h1>
        {% endif %}
    </div>
    <br/>
    <div class="content container">
	    <div class="row">
		    <div class="col-md-8">
			    {% block content %}
			    {% endblock %}
			</div>
		</div>
	</div>
    
</body>
</html>