/* Modal background */
.modal {
	display: none; /*hidden by default*/
	position: fixed; /* stay in place */
	z-index: 1;/* sit on top */
	left: 0;
	right: 0;
	width: 100%; /* full width */
	height: 100%; /* full height */
	overflow: auto; /* enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* black with opacity */ 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 25px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
