h1 a {
    color: black;
    font-family: 'Lobster';
}

body {
    padding-left: 0px;
    background-color: #C0C0C0;
}
/*6DBDD6*/
.page-header {
    background-color: #000;  
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
/*#38A0E0;;#9A29A6;*/
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1,h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    float: right;
}

.project-form textarea, .project-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.project {
    margin-bottom: 70px;
}

.project h1 a, .project h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}